<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Dashboard</title>
    <link rel="stylesheet" href="/css/dashboard.css">
    <script type="module" src="/js/dashboard.js"></script>

</head>
<body>
    <div class="main-container">
        <h2>Forms</h2>
        <hr class="divider-white">
        <div class="forms-container">
            <div class="sidebar">
                <button type="button" class="new-form-btn">
                    <img src="/icons8-plus.svg" alt="">
                    Create a new form
                </button>
            </div>
            <div class="my-workspace">
                <h2>My Workspace</h2>
                <hr class="divider">
                <div class="forms-grid">

                </div>
            </div>
        </div>

    </div>
</body>
</html>